@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a.item{
    text-decoration: none;
    color: black;
}
.header-container{
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    padding: 0 50px;
}
.Rj{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    align-items:flex-start;
}
.menu-item{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 24px;
}
.banner,.banner2{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.banner-left,
.banner2-right{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #4834b7;
    
}
.content{
    position: absolute;
    top: 35%;
    left: 15%;
}
h1.title,
h1.title2{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 16px;
}
.banner-content,
.banner-content2{
    color: #fff;
}
.banner-button,
.banner2-button{
    margin-top: 35px;
    
}
.banner-button .btn-banner,
.banner2-button .btn2-banner{
    display: inline-block;
    padding: 10px 45px;
    border: 1px solid #eb4b6b;
    border-radius: 5px;
    background-color: #eb4b6b;
}
a.btn{
    color: #fff;
    text-decoration: none;
}
.btn-banner:hover,
.btn2-banner:hover{
    background-color: #4834b7;
}

.banner-right,
.banner2-left{
    width: 50%;
    height: 100%;
}

.row{
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.services-title{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}
.services-row{
   
    display: flex;
    flex-wrap: wrap;
    padding: 15px 45px 45px;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 8%);
}
.logo-row{
    width: 90px;
    height: 90px;
    background: #eb4b6b;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    margin-right: 20px
}
.logo-sv{
    width: 40px;
}
.row-items{
    display: flex;
    margin-top: 30px;
    max-width: 50%;
}
.title-row h5{
    color: #4834b7;
    font-weight: 600;
    font-size: 1.25rem
}
.title-row{
    margin-bottom: 15px;
}
.content-row{
    max-width: 60%;
}

.content2{
    position: absolute;
    top: 35%;
    left: 15px;
    max-width: 80%;
}

.myskills{
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.myskill-title{
    text-align: center;
    margin: 25px 0;
}
.row-skill{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.col-box{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.progress-box{
    margin-top: 25px;
}
.progress-info{
    display: flex;
    justify-content: space-between;
}
h6.skill-name{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
}
.progress{
    display: flex;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 15px;
    height: 10px;
}
.progress-bar{
    background-color:#4834b7 ;
}

.testimonial{
    padding-top: 80px;
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}
.info{
    display: flex;
}

.ava-box .ava-test{
    border-radius: 100%;
    border: solid 5px #fff;
    overflow: hidden;
    position: absolute;
    top: -32%;
    left: 38%;
}
.box{
    margin-right: 30px;
}
.box-content{
    position: relative;
    width: 100%;
    height: auto;
    background-color:#4834b7;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}
.box-content .name{
    padding-bottom: 15px;
    font-size: 20px;
}
.box-content .content3{
    font-size: 16px;
    padding-bottom: 20px;
}
.get-in-touch{
    margin-bottom: 50px;
}
.get-in-touch .title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.get-in-touch .container{
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}
.row-get{
    width: 75%;
    margin-left: auto;
    margin-right: auto
}
input{
    width: 100%;
    margin: 10px 0;
    height: 45px;
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: #f9f9f9
}
input.email {
    margin-right: 15px;
}
.top_input{
    display: flex;
}
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    display: inline-block;
    padding: 10px 65px;
    background-color: #4834b7;
    color: #ffffff;
    border: 1px solid #4834b7;
}
button:hover{
    background-color: #fff;
    color: #4834b7;
}
.footer{
    background-color: #4834b7;
    color: #ffffff;
    height: 350px;
    width: 100%;
}
.footer .container{
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.box-containee{
    display: flex;
    justify-content: space-around;
}
.footer-contact{
    padding-top: 50px;
}
.row-contact{
    display: flex;
    align-items: center;
}
.row-contact .icon{
    width: 60px;
    height: 60px;
    background-color:#e9ecef ;
    color: #000;
    text-align: center;
    padding: 21px;
    border-radius: 7px;
    margin-right: 15px;
}
 h6{
    font-size: 15px;
    max-width: 100%;
}

.info_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.social_box{
    display: flex;
    align-items: center;
}
.social_box .fa-brands{
    margin: 0 15px;
    color: #e9ecef;
    margin-bottom: 60px;
}
